*{
    box-sizing: border-box;
}
:root{
    --purple:rgb(69, 14, 94);
    --light-purple:rgb(168, 72, 212);
}
body{
    background:#ededed;
    color: black;
    display: flex;
    font-family: Geneva, Verdana, Tahoma;
    flex-wrap:wrap;
}
header{
    margin: 30px;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color:var(--purple);

}
.quiz{
    width:100%;
    align-items:center;
    padding: 20px;
    margin:0 40px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
section div{
    flex-wrap:wrap;
    width:100%;
    text-align:center;
}
#answers-container{
    display: flex;
    text-align:center;
    justify-content: center;
}