*{
    box-sizing: border-box;
}
:root{
    --purple:rgb(69, 14, 94);
    --light-purple:rgb(168, 72, 212);
}
body{
    background:white;
    color: black;
    display: flex;
    font-family: Geneva, Verdana, Tahoma;
    flex-wrap:wrap;
}
header{
    margin: 30px;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color:var(--purple);
}
.quiz{
    width:100%;
    align-items:center;
    padding: 20px;
    margin:0 40px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
section div{
    flex-wrap:wrap;
    width:100%;
    text-align:center;
}
#answers-container{
    display: flex;
    text-align:center;
    flex-direction:column;
    width: 25%;
    padding: 25px;
}
.answers{
    background-color:var(--purple);
    height: 40px;
    color:white;
    border-radius: 15px;
}
.question{
    font-size:24px;
}
#scoring-container{
    border-top: 2px solid rgba(104,106,107,0.5)
}
.answers:hover{
    background-color:var(--light-purple);
}